<h1>Utwórz książkę</h1>
<div class="card">
    <div class="card-body">
        <form action="/books" method="POST">
            <div class="form-group">
                <label for="title">Tytuł</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control" id="isbn" name="isbn" pattern="[0-9]{13}" required>
            </div>

            <div class="form-group">
                <label for="year_of_publication">Rok wydania</label>
                <input type="text" class="form-control" id="year_of_publication" name="year_of_publication" pattern="[1-9][0-9]{3}" required>
            </div>

            <div class="form-group">
                <label for="author_id">Autor</label>
                <select class="form-control" id="author_id" name="author_id" required>
                    {{#each authors}}
                        <option value="{{this._id}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="publisher_id">Wydawca</label>
                <select class="form-control" id="publisher_id" name="publisher_id" required>
                    {{#each publishers}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="available">Dostępnych</label>
                <input type="number" class="form-control" id="available" name="available" required>
            </div>

            <button type="submit" class="btn btn-primary">Utwórz książkę</button>
        </form>
    </div>
</div>
